{% extends 'base_penonton.html' %}
<!DOCTYPE html>

{% load static %}

{% block meta %}
<title>Beli Tiket</title>
{% endblock meta %}

{% block content %}
<head>
<style>
  /* Add styles for the container with shadow and blur */
  .container-shadow {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(5px);
      border: 1px solid #ccc;
      border-radius: 8px;
  }
</style>
</head>
<body>
<div class="container mt-5">
  <h1 class="text-center mb-4">🧾 Beli Tiket</h1>
  <div class="container container-shadow p-5">
<!-- start form -->
<form method="POST" action="">
    {% csrf_token %}
  <div class="form-group" style="margin-bottom: 20px;">
    <label for="dropdown">Jenis Tiket:</label>
    <select class="form-control" id="dropdown" name="jenis_tiket">
        {% for i in tiket %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
    </select>
  </div>
  <div class="form-group" style="margin-bottom: 20px;">
    <label for="calendar">Pembayaran:</label>
    <select class="form-control" id="dropdown" name="jenis_pembayaran">
        {% for j in pembayaran %}
        <option value="{{ j }}">{{ j }}</option>
        {% endfor %}
    </select>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Beli</button>
  </div>
</form>
<!-- end form -->
  </div>
</div>

</body>
</html>

{% endblock content %}